body {
    background-color: rgb(3, 65, 65);
}
.logoimg img{
        width: 130px ;
        height: 90px;
        margin-left: 550px;
    }
.container-lg {
    margin-top: 90px;
    margin-left: 100px;
    text-align: center;
    width: 80%;
    height: 550px;
    color: rgb(19, 19, 19);
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
}
#inp {
    display: flex;
    height: 80px;
    width: 600px;
    margin-left: 200px;
    margin-top: 30px;
}
#btn {
    margin-top: 30px;
    height: 50px;
    width: 150px;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
}
.form {
    text-align: center;
}
.output {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
