
.main-nav{
  
position:   absolute;
top: 0;
left: 0;
right: 0;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.logoimg img{
    width: 130px ;
    height: 90px;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.navbar a{
    margin: 6px;
    font-size: 20px;
    color: rgb(134, 85, 85);
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: underline;
    color: rgb(39, 63, 55);
    /* background-color: blueviolet; */
}
 .container-lg {
        margin-top: 100px;
        width: 80%;
        height: 550px;
        color: rgb(4, 4, 75);
        background-color: rgb(247, 247, 247);
        border-radius: 20px;
    }
    .heading {
        text-align: center;
        padding-top: 50px;
        margin-top: 50px;
        font-weight: bold;
    }
    #inp {
        display: flex;
        height: 80px;
        width: 600px;
        margin-left: 135px;
        margin-top: 30px;
    }
    #btn {
        margin-top: 30px;
        height: 50px;
        width: 150px;
    }
    .form {
        text-align: center;
    }
    .output {
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
    }
